.footer {
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 30px;
    border-top: 1px solid #ccc;

    // .footer-left {
    // }
    // .footer-right {
    // }
  }
}
